

<div class="row"> <div class="span8"> 
<h1>Class Begins Sept. 10</h1>
<p>We will gather at Saint Monica's at 7 p.m., Tuesday, Sept. 10 to get our 2013-14 session under way.</p><p>This year marks the beginning of the use of a new curriculum for EfM, one that is so new it's still under construction. Our printed guides are available to us only electronically at this time. The books that we will use are available and will be shipped probably in time to distribute them at our second meeting, Sept. 17. Here are the books we'll be using:</p>
<%= image_tag "Y1.jpg", width: "150", class: "floatright" %><br> <h4> Year One</h4>
<p><em>A Short Introduction to the Hebrew Bible </em> by John J. Collins, Holmes Professor of Old Testament, Yale University.</p><br>
<div class="clearall"></div><hr>
<%= image_tag "Y2.jpg", width: "150", class: "floatleft" %><br> <h4> Year Two </h4> 
<p><em>Introducing the New Testament</em> by Mark Allen Powell, Rober and Phyliss Leatherman Professor of New Testament, Trinity Lutheran Seminary.</p><br>
<div class="clearall"></div>
<hr><%= image_tag "Y3.jpg", width: "150", class: "floatright" %> <br><h4>Year Three </h4> <p><em>Christianity: The First Three Thousand Years</em> by Diarmaid MacCulloch, Professor of the History of the Church, University of Oxford.</p><br>
<div class="clearall"></div>
<hr>
<%= image_tag "allen.jpg", width: "150", id: "image_left" %> <%= image_tag "sedgwick.jpg", width: "150", id: "image_center" %><%= image_tag "peace.jpg", width: "150", id: "image_right" %> 
<div class="clearall"></div><hr>
<h4> Year Four </h4><p><em>Theology for a Troubled Believer: An Introduction to the Christian Faith </em> by Diogenes Allen, Stuart Professor Emeritus of Philosophy, Princeton Theological Seminary; <em>The Christian Moral Life</em> by Timothy F. Sedgwick, Clinton S. Quin Professor of Christian Ethics, Virginia Theological 
Seminary; and <em>My Neighbor's Faith: Stories of Interreligious Encounter, Growth, and Transformation</em> by three authors: Jennifer Howe Peace, Assistant Professor of Interfaith Studies and Co-director of 
CIRCLE, Andover Newton Theological School; Or N. Rose, Director of the Center for Global Judaism and Co-director of CIRCLE, 
Hebrew College; and Gregory Mobley, Professor of Christian Bible, Andover Newton Theological School. </p><br>
<div class="clearall"></div>
<hr> 
<%= image_tag "bryan.jpg", width: "150", id: "left_pix" %> <%= image_tag "countryman.jpg", width: "150", id: "right_pix" %>
<div class="clearall"></div>
<h4>Additionally, all of us will read </h4>
<p><em>And God Spoke: The Authority of the Bible for the Church Today</em> by Christopher Bryan, C. K. Benedict Professor Emeritus of New Testament and Editor 
of the Sewanee Theological Review, The School of Theology/Sewanee; and <em>Living on the Border of the Holy: Renewing the Priesthood of All </em>by L. William Countryman, Sherman E. Johnson Professor Emeritus in Biblical Studies, 
Church Divinity School of the Pacific.</p><br>

<h4>For more about all of the books and authors visit:</h4><p> <%= link_to "Meet the Authors", "http://www.sewanee.edu/EFM/MeettheAuthors.pdf" %></p></div>


<div class="span4"><div class="rightColumn">
<h1>Our Schedule<br> For the Year</h1>
<p>For a look at what we'll be doing and reading every week, click <%= link_to "Schedule.", page_path('schedule') %> We will review the meanings on the schedule at our first meeting, next Tuesday.</p><br>
<h2>Some other useful links</h2>
<p> Here are some links about the historical-critical method of reading the bible: <br>
<%= link_to "Horton", "http://users.wfu.edu/horton/r102/hc-method.html" %><br>
<%= link_to "The Bible Dudes", "http://bibledudes.com/biblical-studies/" %> (Humorously presented)</p><br>
<h2>An EfM Bonus!</h2>
<p>
All EfM participants have subscriber's access to <em>Oxford Biblical Studies Online</em> where you will find multiple Bible translations and all sorts of commentaries, maps, and other resources. The login is efm-sewanee and the password is ministry. Here's the link:</p><%=link_to "Oxford Bible", "http://www.oxfordbiblicalstudies.com/Public/Home.html" %>
<br><br><p>
Both the Year One text (Collins) and the Year Two text (Powell) have web resources to support users, including abstracts of all the chapters.
</p><p> Here are the links:</p><br>
<%= link_to "Year 1, Collins", "http://store.augsburgfortress.org/store/product/3811/A-ShortIntroduction-to-the-Hebrew-Bible" %><br>
<%= link_to "Year 2, Powell", "http://www.introducingnt.com/" %><br>
</div></div></div>